* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width:1280px;
  height:100vw;
  background-image: url(../Imagens/mountains-universe-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black  ;
}

header {
  margin:40px auto 40px 72px ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:32px;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration:none;
  color:#EBEBEB;
  opacity: 80%;
}

a:hover{
  color: white;
  opacity:100%;
}

main{
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap:24px;
}

 main h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

button{
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color:transparent;
  color: white;
  padding: 12px;
}

button:hover{
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color:white;
  color: #02799D;
  font-weight: bold;
  padding: 12px;
}

@media(min-width:)