* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: bisque  ;
  width:12
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:32px;
}

a{

}

main{

}