h1 {
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 250px;
}
p {
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 40px;
}